html {
    height: 100%;
    width: 100%;
}

.container {
    width: 100%;
    background-color:#000;
}

nav {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#logo {
    font-size: 4rem;
    margin: 30px;
    flex: 1;
    box-sizing: border-box;
}

.menu{
    display: none;
}

.dropdown {
    display: block;
    width: 100%;
    animation: showNav 0.3s ease-in;
}


@keyframes showNav {
    from {opacity: 0;}
    to {opacity: 1;}
}

.menu-item {
    width: 100%;
    padding: 30px;
    font-size: 1.5rem;
    text-align: center;
    border-style: groove;
    border-color: #ffffff60;
    border-width: 1px;
    border-radius: 2px;
    box-sizing: border-box;
}

.image-container{
    box-sizing: border-box;
    margin: 30px;
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

#hamburgerIcon {
    height: 30px;
    width: 60px;
    padding: 10px;
    border: solid 1px #ffffff1c;
    border-radius: 3px;
}

#hamburgerIcon:active {
    background-color: #ffffff1c;
    border: solid 4px #ffffff77;
    cursor: default;
}