html {
    height: 100%;
    width: 100%;
}

.container {
    width: 100%;
    background-color:#000;
}

nav {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#logo {
    font-size: 3rem;
    margin-left: 30px;
    width: 50%;
}

#menu{
    /* display: none; */
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu-item {
    width: 100%;
    padding: 30px;
    font-size: 1.5rem;
    text-align: center;
    border-style: groove;
    border-color: aliceblue;
    border-width: 1px;
    box-sizing: border-box;
}

#hamburgerMenu {
    height: 50px;
    width: 50px;
    padding: 7px;
    border: solid 1px rgba(255, 255, 255, 0.377);
    border-radius: 3px;
    margin: 20px 30px 20px 0;
    flex: 1;
}